# Copy to .env and set values
ADMIN_API_KEY=changeme
# For firebase-admin auth you can set GOOGLE_APPLICATION_CREDENTIALS to the path of the JSON key file
# GOOGLE_APPLICATION_CREDENTIALS=/path/to/service-account.json
# Or set FIREBASE_PROJECT_ID to initialize default app (only for Firestore access scoped to that project)
# FIREBASE_PROJECT_ID=camping-3a6a4
PORT=3000
